/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1140px;
  height: 80px;
}

.header {
	background-color: $white;
}

	.search-box {
		display: block;
	}

	.social-icons {
		display: block;
	}

	label.screen-reader-text, input#searchsubmit {
		display: none;
	}

	input[type="text"] {
		background: $white;
		width: 192px;
		margin: 20px 0px 0px 0px;
	}

	input[type="text"]:focus, input[type="text"]:active {
		background-color: $white;
	}

	#searchform > img {
	    float: left;
	    margin: 10px -8px 0px 30px;
	}

	.social-icons > ul {
	    float: right;
	    margin: 29px;
	}

	.social-icons li {
	    display: inline-block;
	    float: left;
	    line-height: 13px;
	    margin: 0 6px;
	    vertical-align: middle;
	    width: 15px;
	}

	.social-icons img {
	    max-width: 100%;
	    height: auto;
	}

#soliloquy-container-5 {
	max-width: 100% !important;
}
